<!DOCTYPE html>
<html>
  <head>
    <title>Yosef</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
     <%- if user_signed_in? %>
         <%= render 'shared/side' %>
         <div class="main-content">
            <%= render "shared/top" %>
            <div class="container-fluid">
                <%= yield %>
             </div>
         </div>
     <% else %>
          <div class="container-fluid">
            <div class="row justify-content-center">
                <%= yield %>
            </div>
          </div>
     <% end %>
  </body>
</html>
